# macOS
.DS_Store

# Gradle
.gradle/
build/

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# Logs
*.log

# OS files
Thumbs.db

Task
bin/

# Ignore Kotlin plugin data
.kotlin

# Ignore Git gui
lazygit.*
